:root {
    --black: #353635;
    --orange: #ff6c00;
    --gray: #d3d3d3; /* New gray color for hover */
}

.progress-bar{
    transform-origin: left;
    background-color: var(--orange);
    z-index: 10000;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10px;
}


.backTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: var(--orange);
    background-color: white;
    border-radius: 50%;
    font-size: 2.4rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.backTop:hover{
    transform: scale(1.2);
}
@media (max-width: 800px){
    .progress-bar{
        height: 5px;
    }
}